<table class="table" th:cellpadding="20px">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="user, rowStat:${listUser}"
        th:classappend="${rowStat.count % 2 != 0 ? 'table-secondary' : 'table-light'}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text=" ${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.authorities}"></td>
        <td><a th:href="@{/main/{id}/update(id=${user.id})}"
               class="btn btn-info edit-button">Edit</a></td>
        <td><a th:href="@{/main/{id}/remove(id=${user.id})}"
               class="btn btn-danger delete-button">Delete</a></td>
    </tr>
    </tbody>
</table>


