<table class="table" th:cellpadding="20px">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr>
        <td th:text="${principal.id}"></td>
        <td th:text="${principal.firstName}"></td>
        <td th:text="${principal.lastName}"></td>
        <td th:text="${principal.age}"></td>
        <td th:text="${principal.email}"></td>
        <td th:text="${principal.authorities}"></td>
    </tr>
</table>